tqdm
pandas
joblib
pytube3
torch==1.4
torchvision
numpy
tensorflow==1.15.0
tensorboard
tensorboardX
matplotlib
scipy
opencv-python
p_tqdm
imageio
git+https://github.com/google-research/tf-slim
Pillow
scikit-learn
pytorch-metric-learning
h5py
scikit-video
